.position {
    display: block;
}

body {
    margin: 0;
}

.txt-aling-center {
    text-align: center
}

/* login */

#container {
    height: 100vh;
}

.height-vh {
    height: 100vh;
}

.img {
    max-height: 500px;
    width: auto;
}

.border-box {
    box-sizing: border-box;
}

.m-auto {
    margin: auto;
}

.btn-log-in {
    width: 150px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}

.tittles {
    padding: 15px 0;
    font-size: 25px;
}

.font-size {
    font-size: 20px;
}

.form {
    height: 555px;
    margin: auto;
    padding: 0;
    text-align: center;
}

/* .container-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

input {
    margin-bottom: 10px;
    width: 200px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}

.d-flex {
    display: flex;
}

.j-content-center {
    justify-content: center;
}

.aling-center {
    align-items: center;
}

.tittle {
    font-family: 'Berkshire Swash', cursive;
}

@media(max-width:500px) {
    .form {
        height: 500px;
        margin: 0 auto;
        padding: 0 55px;
    }
    
    .container-input {
        text-align: center;
    }

    .tittles {
        padding: 10px 0;
        font-size: 20px;
    }

    .font-size {
        font-size: 17px;
    }
}

@media(max-width:768px){
    .form {
        height: 447px;
    }

    .logo {
        max-width: 500px;
    }

    .img {
        text-align: center;
    }
     
}

header {
    width: 100%;
    background: #7d30f9;
}

/* ocultando checkbox */

#btn-menu {
    display: none;
}

header label{
    display: none;
}

.fas:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3)
}


.fas {
    font-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
}

.menu li {
    border-right: 1px solid #fff; 
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);

}

@media(max-width:320px) {
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: #7d30f9;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}